@using ASPNET_MVC_01__Controllers.Models.ViewModels
@model PizzaListViewModel;

@{
    ViewData["Title"] = "Pizzas";  
}

<h3>Pizzas:</h3>

<p>Number of pizzas: @ViewData["PizzaCount"]</p>


<h6>With viewmodels</h6>
<ul>
@foreach(PizzaViewModel pizza in @Model.Pizzas ){
    @Html.Partial("../Partials/_PizzaInfo.cshtml", pizza);

    <a asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">Details</a>
}   
</ul>