@using ASPNET_MVC_01__Controllers.Models.ViewModels

@model PizzaDetailsViewModel;
<h5>Pizza ID : @Model.Id</h5>
<h7><i>Name: @Model.Name</i></h7>
<h7> Price: @Model.Price EUR</h7>
<h7>Is On Promotion: @Model.IsOnPromotion</h7>
