@using Burger_Shop.Models.ViewModels
@model BurgerViewModel;

<div id="homeburger">
<p><h5><i>Full Name: @Model.Name</i></h5></p>
<h8>Burger Id : @Model.Id</h8>
<h8><i>Grade: @Model.Rating</i></h8>
<p><h8><i><b>Price: @Model.Price EUR</b></i></h8></p>

    @switch (Model.Id)
    {
        case 1:
             <img runat="server" src="https://media.istockphoto.com/photos/home-made-hamburger-with-lettuce-and-cheese-picture-id1397681885?s=612x612" width = "250px" height = "200px"/>
            break;
       case 2:
           <img runat="server" src="https://img.freepik.com/free-photo/meat-burger-wooden-board-coleslaw-cucumber-tomato-mushrooms-cheese-side-view_141793-2387.jpg" width = "250px" height = "200px"/>
            break;
        case 3:
            <img src="https://media.istockphoto.com/photos/fresh-homemade-hamburger-served-on-wood-picture-id519490902" width = "250px" height = "200px"/>
            break;
        case 4:
          <img runat="server" src="https://image.shutterstock.com/image-photo/two-tuna-fish-sweetcorn-sandwich-600w-1478333126.jpg" width = "250px" height = "200px"/>
            break;
        case 5:
           <img runat="server" src ="https://media.istockphoto.com/photos/chef-showing-a-veggie-hamburger-picture-id1174719148?s=612x612" width = "250px" height = "200px"/>
            break;
        case 6:
            <img runat="server" src="https://previews.123rf.com/images/handmadepictures/handmadepictures1509/handmadepictures150900626/45273846-ciabatta-burger-with-homemade-french-fries-on-rustic-background.jpg" width = "250px" height = "200px"/>
            break;                                                                                      
        case 7:                                                                                      
           <img runat="server" src="https://media.istockphoto.com/photos/tasty-burgers-on-wooden-table-picture-id860411132?" width = "250px" height = "200px"/>
            break;                                                                                      
        case 8:                                                                                         
             <img runat="server" src="https://media.istockphoto.com/photos/steakhouse-double-bacon-cheeseburger-picture-id617759204" width = "250px" height = "200px" />
            break;                                                                                      
        case 9:                                                                                         
           <img runat="server" src="https://media-cdn.tripadvisor.com/media/photo-s/1b/b0/7d/bb/epic-cheeseburger.jpg" width = "250px" height = "200px"/>
            break;                                                                                      
        case 10:                                                                                       
            <img runat="server" src="https://www.tfninternational.com/wp-content/uploads/2021/05/Feature-2-1536x1024.jpg" width = "250px" height = "200px"/>  
            break;                                                                                      
        case 11:                                                                                       
            <img runat="server" src="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2018/05/11172310/Buddha_Karma_Burger_Wide.jpg" width = "250px" height = "200px"/>
            break;                                                                                       
        case 12:                                                                                        
            <img runat="server" src="https://media.istockphoto.com/photos/healthy-baked-sweet-potato-burger-with-whole-grain-bun-guacamole-picture-id905921648?" width = "250px" height = "200px"/>
            break;                                                                                      
        case 13:                                                                                       
            <img runat="server" src="https://img.taste.com.au/XRRXBWDp/taste/2019/09/vegan-burger-in-a-lettuce-bun-154173-2.jp" width = "250px" height = "200px"/>
            break;
    }
</div>
